appdirs==1.4.4
argon2==0.1.10
argon2-cffi==20.1.0
atomicwrites==1.1.5
attrs==19.3.0
backports.functools-lru-cache==1.5
beautifulsoup4==4.8.2
certifi==2020.4.5
cffi==1.14.0
chardet==3.0.4
CherryTree==0.38.8
## FIXME: could not find svn URL in dependency_links for this package:
chirp===daily-20190718
chromapythonapp==0.1
click==7.1.1
configparser==3.5.0b2
contextlib2==0.6.0
cryptography==2.9
dbus-python==1.2.16
distlib==0.3.1
distorm3==3.4.1
dnspython==1.16.0
dotenv==0.0.5
enum34==1.1.10
et-xmlfile==1.0.1
filelock==3.0.12
Flask==1.1.2
Flask-JWT==0.3.2
funcsigs==1.0.2
html5lib==1.0.1
idna==2.9
importlib-metadata==1.5.0
importlib-resources==3.0.0
ipaddress==1.0.23
itsdangerous==1.1.0
jdcal==1.0
Jinja2==2.11.1
killerbee==1.0
lxml==4.5.0
MarkupSafe==1.1.1
mercurial==5.3.1
more-itertools==4.2.0
numpy==1.16.5
olefile==0.46
openpyxl==2.4.9
packaging==20.3
pathlib2==2.3.5
Pillow==6.2.1
pluggy==0.13.0
py==1.8.1
py-bcrypt==0.4
pyasn1==0.4.8
pycairo==1.16.2
pycparser==2.20
pycrypto==2.6.1
pyenchant==2.0.0
PyGObject==3.36.0
PyJWT==1.4.2
pymongo==3.11.0
PyMySQL==0.9.3
pyOpenSSL==19.1.0
pyparsing==2.4.6
pyserial==3.4
pytest==4.6.9
python-dateutil==2.8.1
python-dotenv==0.14.0
pytz==2019.3
pyusb==1.0.2
requests==2.23.0
scandir==1.10.0
singledispatch==3.4.0.3
six==1.14.0
soupsieve==1.9.5
typing==3.7.4.1
urllib3==1.25.8
virtualenv==20.0.30
volatility==2.6
wcwidth==0.1.8
webencodings==0.5.1
Werkzeug==1.0.1
yara-python==3.10.0
zipp==1.0.0
